<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>23.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEE000D620A99C1300EF1681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEE000EA20A99C1300EF1681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEE000F520A99C1300EF1681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
